language: php
php:
  - 5.4
  - 5.3
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - hhvm
services:
  - redis-server
before_script:
  - composer install --dev --prefer-source --no-interaction
script:
  - phpunit --coverage-text
